.F_sprite
{
  position:absolute;
  overflow:hidden;
  width:10px;
  height:10px;
}
.F_sprite_group
{
  position:absolute;
}
.F_sprite_inline
{
  overflow:hidden;
  width:10px;
  height:10px;
}
.F_sprite_img
{
  position:absolute;
}